In [ ]:
! gdown --id 1VDux8WyVKhtvahoXShKW0YsTkk8FehrX

Downloading...
From: https://drive.google.com/uc?id=1VDux8WyVKhtvahoXShKW0YsTkk8FehrX
To: /content/energydata_complete.csv
100% 12.0M/12.0M [00:00<00:00, 33.3MB/s]

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [ ]:
energy_df = pd.read_csv('/content/energydata_complete.csv')
energy_df

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

#SOLUTION TO QUESTION 12

In [ ]:
predictor = energy_df['T2']
target = energy_df['T6']

x_test, x_train, y_test, y_train = train_test_split(predictor,
                                                    target,
                                                    test_size=0.3,
                                                    random_state=1)

x_train = x_train.values.reshape(-1, 1)
x_test = x_test.values.reshape(-1, 1)
model = LinearRegression()
model.fit(x_train, y_train)
predicted_value = model.predict(x_test)

predicted_value

array([24.28662527,  4.21170699,  6.7991409 , ...,  5.99614417,
        6.07049572,  2.65032445])

In [ ]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_value)
round(r2_score, 2)

0.64

#SOLUTION TO QUESTION 13

In [ ]:
df_to_scale = energy_df.drop(columns= ['date', 'lights'])


scaler = MinMaxScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(df_to_scale), columns=df_to_scale.columns)

predictor_energy_df = scaled_df.drop(columns=['Appliances'])
target_df = scaled_df['Appliances']
target_df

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

In [ ]:
x_test, x_train, y_test, y_train = train_test_split(predictor_energy_df,
                                                    target_df,
                                                    train_size=0.7,
                                                    test_size=0.3,
                                                    random_state=42)
regression_model = LinearRegression()
regression_model.fit(x_train, y_train)
l = regression_model.predict(x_test)
l

array([0.03513553, 0.07433935, 0.0259384 , ..., 0.04622279, 0.08089308,
       0.08721625])






SOLUTION FOR QUESTION 14
SUM OF SQUARES (RESIDUAL)

In [ ]:
rss = np.sum(np.square(y_test - l))
round(rss, 2)

110.13

SOLUTION TO QUESTION 15

In [ ]:
rss = np.sum(np.square(y_test - l))
round(rss, 2)

110.13





SOLUTION TO QUESTION 16

In [ ]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, l)
round(r2_score, 2)

0.14





SOLUTION TO QUESTION 17

In [ ]:
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df


linear_model_weights = get_weights_df(regression_model, x_train,
                                      'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.539055
1            T2            -0.326397
2         T_out            -0.286637
3            T9            -0.218335
4          RH_8            -0.169558
5          RH_7            -0.057397
6        RH_out            -0.036925
7          RH_9            -0.018717
8           rv1            -0.005266
9           rv2            -0.005266
10  Press_mm_hg            -0.000110
11   Visibility             0.006881
12           T7             0.011240
13         RH_5             0.013661
14         RH_6             0.016905
15    Windspeed             0.024499
16           T1             0.024794
17           T4             0.034478
18           T5             0.036223
19    Tdewpoint             0.079553
20         RH_4             0.080423
21           T8             0.107823
22         RH_3             0.112555
23           T6             0.268656
24           T3             0.273449
25         RH_1             0.533062




SOLUTION TO QUESTION 18

In [ ]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
pred_ridge = ridge_reg.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, pred_ridge))
round(rmse, 3)

3.659



SOLUTION TO QUESTION 19

In [ ]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
lasso_pred = lasso_reg.predict(x_test)

lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
lasso_weights_df

       Features  Lasso_weight
0        RH_out     -0.051573
1            T1      0.000000
2     Tdewpoint      0.000000
3    Visibility      0.000000
4   Press_mm_hg     -0.000000
5         T_out      0.000000
6          RH_9     -0.000000
7            T9     -0.000000
8          RH_8     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5      0.000000
16         RH_4      0.000000
17           T4      0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21         RH_6     -0.000000
22          rv2     -0.000000
23           T2      0.000632
24    Windspeed      0.003761
25         RH_1      0.010015

SOLUTION TO QUESTION 20

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, lasso_pred))
round(rmse, 3)

9.202